.signup-form input{
    padding: 5px;
    border-radius: 8px;
    border-color: #8d8e91;
}
.loader{
    margin-right: 8px;
}
.dashboard-main-container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #cebef3, rgb(208, 165, 202));
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container{
    background-color: #7033FF;
}
.main-container{
    background-color: white;
}
/* .top-bar{
    background-color: #e6eaef;
} */
.menu-link{
    /* font-size: 16px; */
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.menu-active-link{
    /* font-size: 16px; */
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgba(26, 8, 63, 0.5);
}
.menu-link:hover{
    background-color: rgba(26, 8, 63, 0.5);
}